body {
  text-align: center;
  background-color: #F3F7EC;
}

p{
  font-family: 'Press Start 2P', cursive;
  color: #254336;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 5%;
  color: #254336;
}
#start-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 20px;
  color: #fff;
  background-color: #254336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-button:hover {
  background-color: #1c3329;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #254336;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: #FF8080;
  opacity: 0.8;
}

.red {
  background-color: #FF0080;
}

.green {
  background-color: #16FF00;
}

.blue {
  background-color: #31E1F7;
}

.yellow {
  background-color: #EBF400;
}

.pressed {
  box-shadow: 0 0 20px #254336;
  background-color: #F3F7EC;
}
